.modal-input {
    width: 100%;
}

.modal-textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    resize: none;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Ajusta el espacio entre los botones si es necesario */
    margin-top: 20px;
}

.modal-buttons button {
    width: 140px;
}

.modal-button {
    width: 120px; /* Ajusta el ancho de los botones según tu necesidad */
}
