.edit-button .anticon {
    color: #1890ff; /* Color azul para editar */
}

.delete-button .anticon {
    color: #e54c34; /* Color rojo para eliminar */
}

.add-button .anticon {
    color: #1b5ca5; /* Color rojo para eliminar */
}

.add-button {
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 8px 16px;
}

.add-button:hover,
.add-button:focus {
    background-color: #40a9ff;
    border-color: #40a9ff;
    color: #ffffff;
}