.ant-card.responsive-card {
    background: transparent !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(155, 167, 168);
    padding: 20px;
}

.ant-card-body {
    padding: 0;
}

.ant-card-head-title, h2 {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
}

.ant-input-affix-wrapper {
    background: rgba(255, 255, 255, 0.428);
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 32px;
    font-size: 14px;
}

.ant-input::placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}

.ant-btn-primary {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    width: 100%;
    margin-top: 20px;
    color: white;
}
