.containerH {
    background: linear-gradient(270deg, #a9c3d0, #6da6b9, #326b7e);
    animation: gradientAnimation 15s ease infinite;
    position: relative;
    height: max-content;
    border-radius: 15px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    border-radius: 5%;
    overflow: hidden;
}

.text-content {
    flex: 1;
    padding-right: 50px;
}

.text-content h1 {
    font-size: 2.5em;
    color: #181111;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.2em;
    color: #1b1414;
    margin-bottom: 30px;
}

.image-content {
    flex: 1;
}

.image-content img {
    max-width: 100%;
    border-radius: 10px;
    height: 400px;
    width: 600px;
}

Button {
    background-color: #326b7e;
    border-color: #0e1f25;
}

Button:hover {
    background-color: #030303;
    border-color: #326b7e;
}