.layout-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*.content-left{
    height: 100vh;
    background: #f9a7db ;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.content-right{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(270deg, #a9c3d0, #6da6b9, #326b7e);
    background-size: 900% 900%;
    animation: gradientAnimation 15s ease infinite;
    justify-content: center;
    align-items: center;
    position: relative;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
