/* UserModals.css */
.input-field {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 8px;
}

.input-field:focus {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(64, 169, 255, 0.2);
}

.ant-input-password {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 8px;
}

.ant-input-password:focus {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(64, 169, 255, 0.2);
}

.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal-button {
    width: 120px;
}

.cancel-button {
    margin-right: 10px;
}

.submit-button {
    margin-left: 10px;
}

.edit-user-form .ant-form-item {
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
}

.modal-content {
    padding: 0 0px 24px 0px;
}
