.side-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(145, 145, 145, 0.386); 
    backdrop-filter: blur(10px); 
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
}

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 80%; 
    position: relative; 
}

.close-button {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    /*margin-left: auto; Empuja el botón hacia la derecha */
    margin-bottom: 10px;
}

.side-menu .bottom-buttons {
    margin-top: 20px;
}

.side-menu button {
    width: 100%;
    background-color: #326b7e;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.side-menu .button2 {
    background-color: #f16363;
}

.side-menu button:hover {
    background-color: #000000;
}

.side-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
