.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #326b7e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Asegúrate de que no sea fixed o absolute */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 50px; 
  margin-right: 20px;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6da6b9;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 2rem;
}

.navbar-item a {
  text-decoration: none;
  color: #326b7e;
  font-size: 1rem;
  transition: all 0.3s;
  background-color: #6da6b9;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 20px;
}

.navbar-item a:hover {
  color: #a9c3d0;
  border-color: #a9c3d0;
  background-color: rgba(158, 110, 153, 0.1);
}

.navbar-item button {
  text-decoration: none;
  color: #326b7e;
  font-size: 1rem;
  transition: all 0.3s;
  background-color: #6da6b9;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 20px;
}

.navbar-item button:hover {
  color: rgb(172, 192, 194);
}

.navbar-item a, .navbar-item button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #326b7e;
  font-size: 1rem;
  transition: all 0.3s;
  background-color: #6da6b9;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 20px;
}

.navbar-item a:hover, .navbar-item button:hover {
  color: #a9c3d0;
  border-color: #a9c3d0;
  background-color: rgba(158, 110, 153, 0.1);
}

.navbar-item a svg, .navbar-item button svg {
  margin-right: 8px;
}

