.modal-input {
    width: 100%;
}

.ant-modal-footer {
    display: flex;
    justify-content: center;
    padding: 0;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0;
}

.modal-btn {
    width: 120px;
}

.modal-btn-save {
    margin-left: 8px;
}

.modal-btn-cancel {
    margin-right: 8px;
}

.ant-form-item {
    margin-bottom: 15px;
}

.ant-form-item-required::before {
    content: '' !important;
}
