.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    padding: 20px;
}

.texto-negro{
    color: black;
}

.space-ts{
    padding-left:10%;
}

.btn-pdfEP{
    color: rgb(255, 98, 0);
    border-color: rgb(255, 98, 0);
}
.descripcion-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    border-radius: 8px;
    text-align: center;
}

.admisiones-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: scroll;  /* Asegurarse de que el contenedor sea desplazable */
    height: calc(100vh - 40px); /* Ajusta según tu diseño */

    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}

.admisiones-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari y Opera */
}

.division-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.division-card h3 {
    color: rgba(3, 2, 2, 0.938);
    margin-top: 0;
}

.division-card ul {
    padding-left: 20px;
}

p {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1em;
    padding: 1em;
}

.ant-card-head-title, h2 {
    color: rgba(3, 2, 2, 0.938);
    font-size: 1.5em;
    text-align: center;
}
