.form-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); 
    background: linear-gradient(to right, #326b7e, #0e1f25);
    padding: 20px;
}

.profile-content {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%;
    max-width: 600px;
}

.profile-header {
    font-size: 28px;
    font-weight: bold;
    color: #326b7e;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.profile-img {
    margin-right: 30px;
}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #326b7e;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.profile-details {
    flex-grow: 1;
}

.profile-detail {
    background-color: #f5f8fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    border-left: 4px solid #326b7e;
}

.profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn_p {
    background-color: #326b7e;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 48%;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn_p:hover {
    background-color: #254e5c;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Estilos para los modales */
.ant-modal-content {
    border-radius: 15px;
    overflow: hidden;
}

.ant-modal-header {
    background-color: #326b7e;
    border-bottom: none;
}

.ant-modal-title {
    color: white;
    font-size: 20px;
    text-align: center;
}

.ant-modal-body {
    padding: 30px;
}

.ant-form-item-label > label {
    color: #326b7e;
    font-weight: bold;
}

.ant-input, .ant-input-password {
    border-radius: 8px;
    border: 1px solid #d9d9d9;
}

.ant-input:focus, .ant-input-password:focus {
    border-color: #326b7e;
    box-shadow: 0 0 0 2px rgba(50, 107, 126, 0.2);
}

.ant-btn-primary {
    background-color: #326b7e;
    border-color: #326b7e;
}

.ant-btn-primary:hover {
    background-color: #254e5c;
    border-color: #254e5c;
}