.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    padding: 20px;
}

.descripcion-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    border-radius: 8px;
    text-align: center;

}

.division-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.division-card h3 {
    margin-top: 0;
}

.division-card ul {
    padding-left: 20px;
}

.image-content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-content img {
    max-width: 100%;
    border-radius: px;
    height: 350px;
    width: 600px;
}