/* AdmisionModals.css */

.modal-input {
    width: 100%;
}

.ant-modal-footer {
    display: flex;
    justify-content: center;
}

.ant-modal-footer .ant-btn {
    width: 120px;
    margin: 0 5px;
}

.ant-modal-body .ant-form-item {
    margin-bottom: 15px;
}

.ant-form-item-required::before {
    content: '' !important;
}