/* PublicEndpoint.css */
.home-container {
    width: 100%;
    height:fit-content;
    background-color: #001f3f; /* Color azul marino */
    padding: 20px;
    box-sizing: border-box; /* Para incluir el padding dentro del tamaño total */
}

.division-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.division-card h3 {
    margin-top: 0;
}

.division-card ul {
    padding-left: 20px;
}
